:root {
    --primary: #005DA4;
    --light: #1576bf;
    --lighter: #3f92d1;
    --lightest: #0094FF;
    --dark: #153E79;
    --gray: #525354;
  }

.large-header-text {
    color: #F9F6EE;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
}

.section-title {
    color: var(--primary);
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;

    .secondary {
        color: var(--primary)
    }
    
    .sub {
        font-size: 1.6rem;
    }
}

.section-title-desc {
    color: var(--primary);
    font-family: 'Lora', serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
}

.cleansing-container {
    background-color: #F4FFF7;
}

.letter-paragraph {
    color: var(--gray);
    font-family: 'Lora', serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
}

.result-list {
    color: var(--gray);
    font-family: 'Lora', serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
}

.kit-desc {
    color: var(--primary);
}