:root {
    --mobile-text-color: #000000;
    --mobile-font-family: sans-serif;
    --color-primary-dark: #1576bf;
  }


@media (max-width: 575.98px) {
    .large-header-text {
        color: #F9F6EE;
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .result-list {
        color: var(--mobile-text-color);
        font-size: 1.1rem;
        font-family: var(--mobile-font-family);
    }

    .section-title {
        .sub {
            font-size: 1.2rem;
        }
    }

    .section-title-desc {
        font-family: var(--mobile-font-family);
        color: var(--mobile-text-color);
        font-size: 1.1rem;
    }
}
